.menu{
	background-color: #00080a;
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
}

.menu-border {
	border-left: 1px solid #C8E3E8;
	width: 3px;
	height: 30px;
	display: inline-block;
	position: absolute;
	margin-top: 28px;
}

.menu-input{
	margin-left: 40%;
	border: 3px solid #c8e3e8;
    border-radius: 40px;
    width: 160px;
    font-size: 10px;
    background-image: url("imagenes/iconos-07.png");
	background-repeat: no-repeat; 
	background-position: 2px;
}

.menu-link-1, .menu-link-2{
	color: #c8e3e8;
	font-weight: bold;
	text-decoration: none;
}

.menu-link-1{
	padding-left: 10px;
}

.menu-link-2{
	padding-left: 5px;
}

.menu-titulo{
	color: white;
	display: inline-block;
}

.menu-img{
	position: absolute;
	margin-left: 5%;
	width: 100px;
	height: 100px;
	display: inline-block;
}

.menu-texto{
	padding-top: 8px;
	margin-left: 180px;
}

.footer{
	width: 100%;
	height: 90px;
	background: #c8e3e8;
	position: absolute;
	bottom: 0;
	left: 0;
}

.footer-linea{
	display: inline-block;
	width: 15%;
	text-align: center;
}

.footer-linea a{
	color: white;
	white-space:normal;
}

.sub-menu{
	width: 80%;
	height: 250px;
	color: #36a9e1;
	position: absolute;
	bottom: 90px;
	text-align: center;
	margin-left: 10%;
}

.sub-menu-title{
	color: black;
	font-size: 25px;
	text-align: left;
	margin-left: 20px;
	height: 30px;
}

.sub-menu-iconos{
	width: 23%;
	color: #36a9e1;
	text-align: center;
	display: inline-block;	
}

.sub-menu-iconos img{
	width: 68px;
	height: 68px;
}

.sub-menu-border{
	margin-top: 10px;
	border-left: 4px solid #36a9e1;
	width: 3px;
	height: 135px;
	display: inline-block;
	position: absolute;	
}

.sub-menu-border-horizontal{
	border-top: 4px solid #36a9e1;
	width: 90%;
	margin: 0 auto;
}